<div class="container">
  <% @meetups.each do |meetup| %>
       <%= meetup.date %>
       <%= meetup.description %>
       <%= meetup.user.nickname %>
  <% end %>

  <%= link_to "Créer un meetup", new_offer_meetup_path(@offer) %>

</div>
