// Specific CSS for your home-page
.card-question-1{
  height: 100vh;
  padding-top: 100px;
  background-color: #F1C94B;
  justify-content: center;
  h1{
    font-weight: bold;
    font-size: 38px;
  }
}

.card-question-2{
  height: 100vh;
  padding-top: 100px;
  background-color: #F1C94B;
  justify-content: center;
  h1{
    font-weight: bold;
    font-size: 38px;
  }
  .age-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #297F87;
    padding: 0 10px;
    .fas{
      font-size: 40px;
    }
  }
  .age-proposal{
    text-align: center;
    font-size: 50px;
    width: 100%;
  }
}

.card-question-3{
  height: 100vh;
  padding-top: 100px;
  background-color: #F1C94B;
  justify-content: center;
  h1{
    font-weight: bold;
    font-size: 38px;
  }
  legend{
    display: none;
  }
}
.card-question-address{
  margin-top: 20px;
}


.blue-text{
  color: #297F87;
}

.card-btn-next-back{
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
}
