// Specific CSS for your home-page
.card-question-1{
  height: calc(100vh - 80px);
  padding-top: 100px;
  background-color: #F1C94B;
  justify-content: center;
  font-size: 16px;
  h1{
    font-weight: bold;
    font-size: 38px;

  }
}

.card-title{
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

.card-question-2{
  height: calc(100vh - 80px);
  padding-top: 100px;
  background-color: #F1C94B;
  justify-content: center;
  h1{
    font-weight: bold;
    font-size: 38px;
  }
  .age-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #297F87;
    padding: 0 10px;
    margin-top: 10vh;
    .fas{
      font-size: 40px;
    }
  }
  .age-proposal{
    text-align: center;
    font-size: 50px;
    width: 100%;
  }
}

.card-question-3{
  height: calc(100vh - 80px);
  padding-top: 100px;
  background-color: #F1C94B;
  justify-content: center;
  h1{
    font-weight: bold;
    font-size: 38px;
  }
  legend{
    display: none;
  }
}
.card-question-address{
  margin-top: 20px;
}


.blue-text{
  color: #297F87;
}

.card-btn-next-back{
  position: absolute;
  bottom: 8vh;
  right: 1vh;
  width: 100%;
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
}

.page-selector{
  position: relative;
}
//============================= THEME CHOICE =============================//

.theme-choice{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 10vh;
}

.card-theme{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18;
  font-weight: bold;
  width: 30vw;
  height: 30vw;

  &.active{
    border: 2px solid #297F87;

  }
}

.card-theme-container {
  color: white;
  font-size: 18;
  font-weight: bold;
  text-align: center;
  &.active{
    color: #297F87;
  }
}

.card-icon{
  width: 80%;
  height: 80%;
}


#content-desktop{
  background-color: #F1C94B;
  display: flex;
  height: 100vh;
}

#content-mobile {display: none;}
#content-navbar {display: none;}

@media screen and (max-width: 768px) {
  #content-desktop {display: none;}
  #content-mobile {display: block;}
  #content-navbar {display: block;}
}
