
<div class = "card-index-pop d-flex">
    <div class="img-card"><%= image_tag offer.photo %></div>
    <div class ="card-descript-pop p-2">
      <h2><%= offer.name %></h2>
      <h3><i class="fas fa-map-marker-alt"></i> <strong><%= offer.address %></strong></h3>
      <div class="esp-card"><%= link_to "Plus d'info", (offer_path(offer)) %></div>
    </div>
</div>
