<div class="container">
  <div class="offer-presentation">
    <div class="offer-detail">
    </div>
    <div class="offer-detail">
      <h1><%= @offer.name %></h1>
      <br>
      <p><%= @offer.min_age %></p>
      <br>
      <p><%= @offer.address %></p>
    </div>
  </div>
</div>
