.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.ban-favoris i {
  color: #D94A64;
  font-size: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

// .flip-card {
//   margin-top: -70px;
// }
