.card-index {
  width: 92vw;
  height: 125px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top: 20px;
}

.img-card {
  width: 125px;
  height: 125px;
}
.img-card img {
  height: 100%;
  width: 125px;
  object-fit: cover;
  border-radius: 4px;
}

.icons{
  width: 22px;
  height: 22px;
}
.card-favoris i {
  color: #D94A64;
  font-size: 25px;
}

.card-trash i {
  color: black;
  font-size: 20px;
  opacity: 0.1;
}

.card-trash:hover i {
  opacity: 0.8;
}
.card-descript {
  text-align: center;
  position: relative;
}

.card-descript .esp-card {
  margin-top: 3px;
}

.card-descript .titre {
  font-weight: bold;
}

.esp-card a {
  text-decoration: none;
  color: #06AEBF;
}

.esp-card:hover a {
  text-decoration: none;
  color: #06AEBF;
  text-decoration: underline;
}

.card-descript .card-trash {
  position: absolute;
  right: 16px;
}

.titre-card {
  color: #F2884B;
}

.card-review{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  .fa-star{
    color: #F2C94B;
  }
  .card-nickname{
    p{
    font-size: 12px;
    }
  }
  h6{
    font-weight: bold;
    font-size: 18px;
  }
}

.card-show{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 14px;
}

.card-show-bold{
  font-weight: bold;
}
.card-show-offer{
  margin-top: 15px;
  h1{
    font-size: 24px;
    color: #F2C94B;
    text-align: center;
  }
}

.card-show-meetup img{
  width: 30px;
}


//========== CARD SHOW OFFER=============== //
.card-offer {
  padding: 20px;
  margin-bottom: 20px !important;
}

.card-offer h1 {
  font-size: 24px;
  font-weight: bolder;
}

.card-offer h5 {
  font-size: 16px;
  font-weight: normal;
}

// - Tag offer show -  //

.tag-card-offer p {
  font-size: 16px;
  font-weight: bold;
  background-color: #F4F9F9;
  color: #297F87;
  padding: 4px 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.card-show-description{
  color: #929292;
  font-size: 16px;
  font-weight: normal;
}

.card-show-description img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
// ================= INDEX MEETUPS =================== //

.card-user-meetup{
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  .card-meetup-left{
    color: #297F87;
    background-color: white;
    flex-grow: 1;
    max-width: calc(100% - 115px);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
      font-size: 20px;
      font-weight: bold;
    }
    h4{
      font-size: 18px;
    }
    .card-tags{
      span{
        background-color: #F4F9F9;
        padding: 4px 8px;
        border-radius: 12px;
      }
      font-size: 16px;
    }
  }
  .card-meetup-right{
    background-color: #F1C94B;
    color: white;
    width: 115px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      font-size: 14px;
    }
    h2{
      font-size: 22px;
    }
  }
}

