.card-index {
  width: 92vw;
  height: 125px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin-top: 20px;
}

.img-card {
  width: 125px;
  height: 125px;
}
.img-card img {
  height: 100%;
  width: 125px;
  object-fit: cover;
  border-radius: 4px;
}

.icons{
  width: 22px;
  height: 22px;
}
.card-favoris i {
  color: #D94A64;
  font-size: 25px;
}

.card-trash i {
  color: black;
  font-size: 20px;
  opacity: 0.1;
}

.card-trash:hover i {
  opacity: 0.8;
}
.card-descript {
  text-align: center;
  position: relative;
}

.card-descript .esp-card {
  margin-top: 3px;
}

.card-descript .titre {
  font-weight: bold;
}

.esp-card a {
  text-decoration: none;
  color: #06AEBF;
}

.esp-card:hover a {
  text-decoration: none;
  color: #06AEBF;
  text-decoration: underline;
}

.card-descript .card-trash {
  position: absolute;
  right: 16px;
}

.titre-card {
  color: black;
}

.card-review{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  .fa-star{
    color: #F2C94B;
  }
  .card-nickname{
    p{
    font-size: 12px;
    }
  }
  h6{
    font-weight: bold;
    font-size: 18px;
  }
}

.card-show{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 14px;
}

.card-show-bold{
  font-weight: bold;
}
.card-show-offer{
  margin-top: 15px;
  h1{
    font-size: 24px;
    color: #F2C94B;
    text-align: center;
  }
}

.card-show-meetup img{
  width: 30px;
}


//========== CARD SHOW OFFER=============== //
.card-offer {
  padding: 20px;
  margin-bottom: 20px !important;
}

.card-offer h1 {
  font-size: 24px;
  font-weight: bolder;
}

.card-offer h5 {
  font-size: 16px;
  font-weight: normal;
}

// - Tag offer show -  //

.tag-card-offer p {
  font-size: 16px;
  font-weight: bold;
  background-color: #F4F9F9;
  color: #297F87;
  padding: 4px 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.card-show-description{
  color: #929292;
  font-size: 16px;
  font-weight: normal;
}

.card-show-description img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
// ================= INDEX MEETUPS =================== //

.card-user-meetup{
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  overflow: hidden;
  height: 115px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  .card-meetup-left{
    color: #297F87;
    background-color: white;
    flex-grow: 1;
    max-width: calc(100% - 115px);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3{
      font-size: 20px;
      font-weight: bold;
    }
    h4{
      font-size: 18px;
    }
    .card-tags{
      span{
        background-color: #F4F9F9;
        padding: 4px 8px;
        border-radius: 12px;
      }
      font-size: 16px;
    }
  }
  .card-meetup-right{
    background-color: #F1C94B;
    color: white;
    width: 115px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
      font-size: 14px;
    }
    h2{
      font-size: 22px;
    }
  }
}

//============================= SHOW MEETUP =============================//
.card-offer-meetup {
  color: #297F87;
  font-size: 20px;
  line-height: 19px;
}

.back {
  position: absolute;
  top: -34px;
  left: 15px;
  z-index: 1;
}

.size-date-heure-description {
  font-size: 16px;
}

.card-chat h1 {
  font-size: 10px;
  color: grey;
  text-align: center;
  margin-top: 12px;
}

.card-chat {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  border-radius: 5px;
}


.card-send {
 // Partie Estelle//
}


.message-container {
  background-color: #C2C6CC;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 14px;
  max-width: 70%;

  p {
    word-break: break-all;
  }

  &.currentuser {
    background: #297F87;
    align-self: flex-end;
    color:white;
  }
}

div#messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    height: 320px;
    overflow-y: scroll;
}

.chat-form {
  display: flex;
  justify-content: space-around;
  position: sticky;
  background-color: #F2F2F2;
  margin-top: 14px;
  align-items: baseline;
}

.submit-valid {
  button {
    border-radius: 50%;
    color: white;
    background-color: #F1C94B;
    border: transparent;
  }
}

.form-control {
  border-radius: 30px;
  width: 318px;
  background-color: #D5D5D5;
}

// ================= INDEX MEETUP-TRASH =================== //

.card-meetup-with-trash{
  position: relative;
  height: 115px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  &.swiped {
    .card-user-meetup {
      transform: translateX(-50px);
    }
  }
  .card-user-meetup {
    position: absolute;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    z-index: 10;
    transition: all 0.7s ease;
  }
  .card-meetup-trash {
    position: absolute;
    background-color: #FDF5DE;
    right: 0;
    top: 0;
    z-index: 5;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: #297F87;
      font-size: 24px;
    }
    a:hover {
      font-weight: bold;
    }

  }
}


// === CARD FAVORIS == //

.card-favoris {
  position: relative;
  height: 115px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  &.swiped {
    .card-favoris-front {
      transform: translateX(-50px);
    }
  }
  .card-favoris-front {
    position: absolute;
    flex-flow: row wrap;
    align-items: stretch;
    left: -1px;
    top: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    z-index: 10;
    transition: all 0.7s ease;
    }
    .card-favoris-description {
    color: #297F87;
    background-color: white;
    flex-grow: 1;
    max-width: calc(100% - 115px);
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 20px;
      font-weight: bold;
      }
    a {
      font-size: 16px;
      font-weight: bold;
      background-color: #F4F9F9;
      color: #297F87;
      padding: 4px 8px;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
      }
    }
  .card-favoris-img {
    width: 115px;
    height: 115px;
    img {
      height: 100%;
      width: 115px;
      object-fit: cover;
      border-radius: 4px;
    }
  }
  .card-favoris-swip {
    position: absolute;
    background-color: #F4F9F9;
    right: 0;
    top: 0;
    z-index: 5;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: #D94A64;
    }
  }
}

