
#search_address{
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: solid 0.1px black;
  width: 90%;
  height: 50px;
  text-align: center;
  border-radius: 0%;
  display: block;
  margin: auto;
  &:focus {
    box-shadow: none;
  }
}

#search_address::placeholder {
    color: black;
  }

// ===  Form show odder == //
.form-label {
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  label {
  display: none;
  }
  .fa-star {
    color: #F2C94B;
  }
  .br-widget {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 3vw 3vw 6vw;
  }
  a {
    font-size: 40px !important;
    margin-bottom: 6vw !important;
  }
}

.form-control {
  border-radius: 20px;
  width: 315px;
  background-color: #D5D5D5;
  margin-top: 7vw;
}

.hidden{
  display: none;
}

//==========  form new meetup ======= //

.form-new-meetup {
  background: white;
  padding: 2vw 5vw;
  margin-top: 50%;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 30px;
  }
}
