
#search_address{
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: solid 0.1px black;
  width: 90%;
  height: 50px;
  text-align: center;
  border-radius: 0%;
  display: block;
  margin: auto;
  &:focus {
    box-shadow: none;
  }
}

#search_address::placeholder {
    color: black;
  }

// ===  Form show odder == //
.form-label {
  form {
    display: flex;
    flex-direction: column;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  input {
  font-size: 4vw;
  font-weight: bold;
  background-color: #297F87;
  border: 1px solid #297F87;
  color: white;
  padding: 1vh 12vw;
  border-radius: 30px;
  display: block;
  width: 53%;
  margin: auto;
  /* right: 0; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  text-align: center;
  }
  label {
  display: none;
  }
  .fa-star {
    color: #F2C94B;
  }
  .br-widget {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 3vh 3vw 0vh;
  }
  a {
    font-size: 40px !important;
    margin-bottom: 6vw !important;
  }
}

.form-control {
  border-radius: 20px;
  width: 100%;
  background-color: #fbf8f8;
  margin-top: 7vw;
}

.hidden{
  display: none;
}

//==========  form new meetup ======= //

.form-new-meetup {
  background: white;
  padding: 2vw 5vw;
  margin-top: 50%;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 30px;
  }
}

//==========  form new user ======= //

#new_user{
  margin-top: 100px;
  vertical-align: middle;
  .btn{
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 30px;
  }
  .form-inputs{
    margin-top: 10px;
  }
  #user_email, #user_password{
    margin-top: 2px;
  }
}

.forgot-link{
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  a{
    margin-bottom: 10px;
  }
}
