
#search_address{
  background-color: black;
  color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border: solid 0.1px black;
  width: 90%;
  height: 50px;
  text-align: center;
}

// ===  Form show odder == //
.form-label {
  h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }
  label {
  display: none;
  }
  .fa-star {
    color: #F2C94B;
  }
  .br-widget {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  a {
    font-size: 40px !important;
    margin-bottom: 6vw !important;
  }

