.nav-link {
  font-size: 12px;
  padding: 0;
}

.margin-navbar{
  height: calc(100vh - 16vw);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.navbar {
  height: 80px !important;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  background:#F2C94B;
  margin-top: 5px !important;
}

.navbar-nav {
  margin-top: 5px !important;
}

.back{
  position: absolute;
  top:10px;
  left: 15px;
  z-index: 1;
  a{
    color:black;
  }
}

.navbar-icon{
  font-size: 16px;
  color: rgb(128, 126, 126);
  &.active{
    color: rgb(0, 0, 0);
  }
  .far{
    font-size: 24px;
  }
  .fas{
    font-size: 24px;
  }
  p {
    margin-top: -2vw;
    margin-bottom: 1rem;
  }
  li {
    margin-left: 4vw;
  }
}
