.navbar-lewagon {
  justify-content: space-between;
  background:#F2C94B;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-size: 12px;
}

.margin-navbar{
  height: calc(100vh - 16vw);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.navbar {
  height: 19vw !important;
  padding: 5px !important;
}

.navbar-nav {
  margin-top: 5px !important;
}

.back{
  position: absolute;
  top:10px;
  left: 15px;
  z-index: 1;
  a{
    color:black;
  }
}

.navbar-icon{
  font-size: 16px;
  .far{
    font-size: 24px;
  }
  .fas{
    font-size: 24px;
  }
  p {
    margin-top: -2vw;
    margin-bottom: 1rem;
  }
  li {
    margin-left: 4vw;
  }
}
