.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  font-size: 12px;
}

.margin-navbar{
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.navbar {
  height: 16vw !important;
  padding: 5px !important;
}

.navbar-nav {
  margin-top: 5px !important;
}

.back{
  position: absolute;
  top:10px;
  left: 15px;
  z-index: 1;
  a{
    color:black;
  }
}
